* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500px;
}
body {
  background-color: #77c0e8;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  left: 0;
  background: white;
  width: 100px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px;
}
.logo {
  text-align: center;
  display: flex;
  transition: 100px 0 0 10px;
  margin: 10px 0 0 10px;
}
.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logo span {
  font-weight: 15px;
  padding-left: 20px;
  top: 10px;
  font-size: 20px;
  /* text-transform: uppercase; */
}
a {
  text-decoration: none;
  position: relative;
  color: rgb(58, 59, 56);
  font-size: 14px;
  display: flex;
  width: 300px;
  padding: 20px;
}
li a .icon {
  position: relative;
  width: 60px;
  height: 20px;
  top: 14px;
  font-size: 3px;
  text-align: center;
}
.icon_nav {
  position: relative;
  top: 8px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 400;
}
a:hover {
  background: #adbcc2;
}
nav:hover {
  width: 260px;
  transition: all 0.5s ease;
}
.log-out {
  position: absolute;
  bottom: 5px;
}
/* ul{
  display: flex;
} */
